.photo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 100%;
  .thumbnail {
    width: auto;
    height: auto;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 2rem auto;
    img {
      object-fit: contain;
      margin: 1rem;
      border-radius: 6px;
      max-width: 100%;
      height: 50vh;
      box-shadow: 5px 6px $shadow;
      background-color: $--red-1;
      @include media('<tablet') {
        margin: 1rem auto;
        height: auto;
        width: 100%;
      }
      @include media('<tabletSm') {
        // height: 300px;
      }
    }
    > div:first-child {
      border-radius: 6px;
      height: 60vh;
      display: block !important;
      box-shadow: 5px 6px $shadow;
      background-color: $--red-1;
      @include media('<tablet') {
        margin: 0 auto;
      }
      @include media('<tabletSm') {
        // height: 300px;
      }
    }
  }
}

// future link styles
.photo-links {
  margin: 1em 0 0;
  padding: 0 1em;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li {
      font-size: 1em;
      font-weight: 500;
      color: $--navy-1;
      font-family: $fontStackCode;
      @include media('<tablet') {
        font-size: 0.9em;
      }
    }
  }
}
