h1 {
  color: $--navy-2;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -0.05em;
  @include media('<desktopLg') {
    font-size: 4em;
  }
  @include media('<desktop') {
    font-size: 3.5em;
  }
  @include media('<tablet') {
    font-size: 3em;
  }
  @include media('<=phone') {
    font-size: 2em;
  }
}
h2 {
  color: $--navy-2;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  // font-size: 3em;
  line-height: 1;
  letter-spacing: -0.05em;
}
h3 {
  color: $--navy-1;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.15em;
  text-align: center;
  @include media('<desktopLg') {
    font-size: 2.25rem;
  }
  @include media('<desktop') {
    font-size: 2rem;
  }
  @include media('<tablet') {
    font-size: 1.75rem;
  }
  @include media('<phoneLg') {
    letter-spacing: 0.05em;
    font-size: 1.65rem;
  }
  @include media('<=phone') {
    letter-spacing: 0.05em;
    font-size: 1.5rem;
  }
}
h4 {
  color: $--navy-1;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: center;
  @include media('<desktopLg') {
    font-size: 2.5em;
  }
  @include media('<desktop') {
    font-size: 2em;
  }
  @include media('<tablet') {
    font-size: 1.4em;
  }
  @include media('<=phone') {
    font-size: 1.3em;
  }
}
h5 {
  color: $--navy-1;
  font-family: $fontStackSans;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 1px;
  @include media('<desktopLg') {
    font-size: 1.25rem;
  }
  @include media('<desktop') {
    font-size: 1.25rem;
  }
  @include media('<tablet') {
    font-size: 1rem;
  }
  @include media('<=phone') {
    font-size: 1rem;
  }
}
p {
  color: $--navy-2;
  font-family: $fontStackCode;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.025em;
  @include media('<desktopLg') {
    font-size: 1rem;
  }
  @include media('<desktop') {
    font-size: 1rem;
  }
  @include media('<tablet') {
    font-size: 1rem;
  }
  @include media('<phoneLg') {
    font-size: 0.9rem;
  }
  @include media('<=phone') {
    font-size: 0.8rem;
  }
}
