h1 {
  color: $Navy;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -0.05em;
  @include media("<desktopLg") {
    font-size: 4em;
  }
  @include media("<desktop") {
    font-size: 3.5em;
  }
  @include media("<tablet") {
    font-size: 3em;
  }
  @include media("<=phone") {
    font-size: 2em;
  }
}
h2 {
  color: $Navy;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
  line-height: 1;
  letter-spacing: -0.05em;
}
h3 {
  color: $NavyLt;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: center;
  @include media("<desktopLg") {
    font-size: 2.5em;
  }
  @include media("<desktop") {
    font-size: 2.5em;
  }
  @include media("<tablet") {
    font-size: 1.6em;
  }
  @include media("<=phone") {
    font-size: 1.5em;
  }
}
h4 {
  color: $NavyLt;
  font-family: $fontStackSans;
  font-weight: bold;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.2em;
  text-align: center;
  @include media("<desktopLg") {
    font-size: 2.5em;
  }
  @include media("<desktop") {
    font-size: 2.5em;
  }
  @include media("<tablet") {
    font-size: 1.4em;
  }
  @include media("<=phone") {
    font-size: 1.3em;
  }
}
h5 {
  color: $NavyLt;
  font-family: $fontStackSans;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 1px;
  @include media("<desktopLg") {
    font-size: 1.5em;
  }
  @include media("<desktop") {
    font-size: 1.5em;
  }
  @include media("<tablet") {
    font-size: 1em;
  }
  @include media("<=phone") {
    font-size: 1em;
  }
}
p {
  color: $Navy;
  font-family: $fontStackCode;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @include media("<desktopLg") {
    font-size: 1.5em;
  }
  @include media("<desktop") {
    font-size: 1.2em;
  }
  @include media("<tablet") {
    font-size: 1.1em;
  }
  @include media("<=phone") {
    font-size: 1em;
  }
}

