$--yellow-0: rgb(255, 205, 63);
$--yellow-1: rgb(255, 195, 55);
$--yellow-2: rgb(255, 200, 33);
$--yellow-3: rgb(223, 164, 0);
$--yellow-4: rgb(184, 132, 0);
$--fuel-1: #f0b327;
$YellowDk: #d8bf39;

$--navy-1: #435e80;
$--navy-2: #18415c;

$--red-1: rgb(251, 146, 113);

$--cyan-1: rgb(118, 238, 239);
$--cyan-2: rgb(74, 217, 255);
$--cyan-3: rgb(0, 183, 239);
$--cyan-4: rgb(0, 156, 208);
$--cyan-4: rgb(0, 130, 177);

$--space-1: #5b686f;
$--space-2: #454e56;
$--space-3: #343c44;
$--space-4: #293038;

$shadow: rgba(100, 10, 10, 0.2);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

$fontStackSans: 'Fira Sans', sans-serif;
$fontStackCode: 'Fira Code', monospace;
$fontStackAnton: 'Anton', sans-serif;
$fontStackInter: 'Inter', sans-serif;

@import './globals';
@import './include-media';
@import './type';
@import './nav';
@import './filter';
@import './home';
@import './about';
@import './code';
@import './design';
@import './fine-art';
@import './photo';
@import './blog';

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  main {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  footer {
    padding: 0 0 1rem;
    text-align: center;
    p {
      font-size: 0.8rem;
      color: $--red-1;
    }
  }
}

.error-404,
.loading {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 2.25px;
  text-decoration-color: $--yellow-1;
  text-underline-offset: 0px;
  text-decoration-skip-ink: none;
  text-decoration-style: wavy;
}
.no-scroll {
  overflow: hidden;
}

// scrollbar
// width
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
// track
::-webkit-scrollbar-track {
  background: $--yellow-1;
}
// handle
::-webkit-scrollbar-thumb {
  background: $--red-1;
  border-radius: 2px;
}
// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $--navy-1;
}

// box styles
.box-radius {
  border-radius: 8px;
}
.box-shadow {
  box-shadow: 10px 12px $shadow;
  @include media('<tablet') {
    box-shadow: 8px 10px $shadow;
  }
}
.box-border {
  border: 3px solid $--navy-1;
  @include media('<tablet') {
    border: 3px solid $--navy-1;
  }
}

.example {
  border: 4px solid $--navy-1;
  border-radius: 8px;
  box-shadow: 5px 6px $shadow;
  background-color: $--red-1;
  border-radius: 8px;
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 250px;
  transition: ease 0.2s;
}

// cyan buttons
.cyan-btn {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: 3px 4px $shadow;
  text-decoration: underline;
  background-color: $--cyan-1;
  transition: ease 0.15s;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px $shadow;
    text-decoration: none;
    background-color: $--yellow-1;
    transform: translateX(2px) translateY(3px);
  }
}
.cta-btn {
  display: block;
  max-width: 200px;
  margin: 0 auto 2em;
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: 4px 5px $shadow;
  // text-decoration: underline;
  background-color: $--cyan-1;
  color: $--navy-1;
  font-size: 1.2em;
  font-weight: 500;
  font-family: $fontStackCode;
  letter-spacing: 0.5px;
  transition: ease 0.15s;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 2px $shadow;
    text-decoration: none;
    background-color: $--yellow-1;
    transform: translateX(3px) translateY(2px);
  }
  @include media('<tablet') {
    font-size: 1em;
  }
}

// social icons
.social-links {
  margin: 0.6em auto 0;
  color: $--navy-1;
  font-size: 2em;
  a {
    :nth-child(n) {
      height: 2rem;
      margin: 0 12px;
      cursor: pointer;
      transition: ease 0.1s;
      &:hover {
        color: $--navy-2;
        transform: translateX(-1px) translateY(-1px);
      }
    }
  }
}
