$primaryYellow: #FFE141;
$Navy: #0F3C5B;
$NavyLt: #405773;
$Red: #FB9271;
$YellowDk: #D8BF39;
$secondary2Color: #6AA386;
$secondary3Color: #AAA348;
$shadow:  rgba(100, 10, 10, 0.2);
$highlightColor: #DBFFEB;

$fontStackSans: 'Fira Sans', sans-serif;
$fontStackCode: 'Fira Code', monospace;

@import "./include-media";
@import "./type";
//@import "./navbar";
//@import "./home";
//@import "./about";
//@import "./design";
//@import "./illustration";
//@import "./showcasePages";
//@import "./gallery";
//@import "./footer";

.container {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav {
  height: 60px;
  width: 60px;
  position: fixed;
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
  color: $NavyLt;
  background-color: blanchedalmond;
  border: 4px solid $NavyLt;
  border-radius: 6px;
  box-shadow: 5px 6px $shadow;
  top: 12px;
  right: 12px;
  z-index: 100;
  cursor: pointer;
}
.menu {

}

li {
  list-style: none;
  cursor: pointer;
  a {
    display: block;
  }
}
.nav_menu {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    margin: 1em 0;
    li {
      background-color: $primaryYellow;
      border-radius: 6px;
      border: 4px solid $NavyLt;
      box-shadow: 5px 6px $shadow;
      margin: 1em 0;
      padding: 0.2em 0.4em;
      color: $NavyLt;
      font-family: $fontStackCode;
      font-size: 0.9em;
      font-weight: 500;
      text-align: center;
      letter-spacing: -1px;
      transition: 0.2s ease-out;
      &:hover {
        background-color: $Red;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

button {
  position: absolute;
  top: 12px;
  right: 7px;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  width: auto;
  height: auto;
  background: transparent;
  z-index: 999;
}

.heading {
  min-height: 100vh;
  width: 100%;
  z-index: 20;
  background: rgb(172,92,255);
  background: linear-gradient(180deg, rgba(172,92,255,1) 0%, rgba(172,92,255,1) 15%, rgba(255,225,65,1) 85%, rgba(255,225,65,1) 100%);
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
    .center_img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      .home_trav {
        border-radius: 999px;
        height: 450px;
        width: 450px;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        @include media("<desktop") {
          height: 400px;
          width: 400px;
        }
        @include media("<tablet") {
          height: 260px;
          width: 260px;
        }
      }
      .home_mags {
        border-radius: 999px;
        padding: 0.4em;
        height: 190px;
        width: 190px;
        object-fit: cover;
        position: relative;
        top: 8em;
        right: 11em;
        z-index: 2;
        background-color: $primaryYellow;
        @include media("<desktop") {
          height: 160px;
          width: 160px;
          top: 6.5em;
          right: 9em;
        }
        @include media("<tablet") {
          padding: 0.3em;
          height: 120px;
          width: 120px;
          top: 5.4em;
          right: 6em;
        }
      }
    }
    .center_text {
      position: relative;
      display: flex;
      justify-content: center;
      .home_logo {
        position: absolute;
        max-width: 35em;
        top: 1.5em;
        z-index: 3;
        @include media("<desktop") {
          max-width: 30em;
          top: 2em;
        }
        @include media("<tablet") {
          max-width: 20em;
        }
      }
      h4 {
        position: relative;
        top: 6.5em;
        left: 0.1em;
        font-style: italic;
        z-index: 4;
        transform: skewY(-3.8deg);
        transform: rotate(-8deg);
        @include media("<desktop") {
          top: 7.5em;
        }
      }
    }
  }
}

main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  .box_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 2em 1em;
    margin: 0 0 4em;
    min-height: 60vh;
    .box_top {
      margin: 0 auto -0.6em;
      padding: 20px 2em 20px 2.5em;
      background-color: $NavyLt;
      border-radius: 6px;
      box-shadow: 12px 15px $YellowDk;
      @include media("<tablet") {
        padding: 20px 1.2em 20px 1.6em;
      }
      h2 {
        letter-spacing: 8px;
        color: $primaryYellow;
        text-shadow: 4px 4px $Navy;
        @include media("<tablet") {
          font-size: 2.2em;
        }
        @include media("<=phone") {
          font-size: 2em;
        }
      }
    }
    .box {
      margin: 0 auto;
      max-width: 920px;
      width: 100%;
      background-color: $Red;
      border-radius: 8px;
      box-shadow: 12px 15px $YellowDk;
      border: 6px solid $NavyLt;
      p {
        max-width: 600px;
        margin: 3em auto 0;
        padding: 0 1em;
        line-height: 1.5;
        color: $Navy;
      }
      .skill_tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        max-width: 660px;
        width: 100%;
        margin: 4em auto 2em;
        padding: 0 1em;
        h5 {
          margin: 10px 2px;
          padding: 12px 26px;
          background-color: $primaryYellow;
          border: 4px solid $NavyLt;
          border-radius: 5px;
        }
      }
      .work_box {
        width: 100%;
        margin: 0 auto;
        padding: 1em 0 2em;
        img {
          max-width: 90%;
          margin: 2em 0 0;
          border-radius: 8px;
          border: 4px solid $NavyLt;
          background-color: $NavyLt;
        }
        h3 {
          margin: 0.5em auto 0;
        }
        p {
          color: $NavyLt;
          font-size: 1em;
          margin: 0.5em auto 0;
          @include media("<tablet") {
            font-size: 0.9em;
          }
        }
      }
      .else_box {
        width: 100%;
        margin: 0 auto;
        padding: 1em 0 2em;
        img {
          max-width: 85%;
          width: 100%;
          height: auto;
          margin: 2em 0 0;
          border-radius: 8px;
          border: 4px solid $NavyLt;
          background-color: $NavyLt;
          object-fit: contain;
          object-position: top left;
          filter: saturate(0.5);
          @include media("<tablet") {
            height: auto;
          }
          @include media("<=phone") {
            height: auto;
          }

        }
        h3 {
          margin: 0.5em auto 0;
        }
        p {
          color: $NavyLt;
          font-size: 1em;
          margin: 0.5em auto 0;
          @include media("<tablet") {
            font-size: 0.9em;
          }
        }
      }
      .contact_box {
        width: 100%;
        margin: 0 auto;
        padding: 1em 0 2em;
        h3 {
          margin: 0.5em auto 0;
        }
        p {
          color: $NavyLt;
          font-size: 1em;
          margin: 0.5em auto 0;
          @include media("<tablet") {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}